<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PilaCoin</title>
</head>
<body>
    
    <header>
        <a href="/principal" class="logo"><img class="logo-img" src="../../../assets/logo.png" />PilaCoin</a>
        <ul>
            <li><a href="/principal">Home</a></li>
            <li><a href="/transferencia">Transferência</a></li>
        </ul>
        <a (click)="logout()" class="button-logout">Logout</a>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm" style="margin-top: 2rem;">
                
            </div>
            <div class="col-sm" style="margin-top: 2rem;">
                
                <div class="box-wallet">
                    <div class="title">
                        {{ meus_pilas }}        
                    </div>
                </div>

                <form [formGroup]="formulario" (ngSubmit)="transferePila()">
                    <h4>Transferência:</h4>

                    <h5>Colega</h5>
                    <select class="form-control form-control-sm" id="f_colega" formControlName="chaveUsuarioDestino">
                        <option *ngFor='let colega of colegas' [selected]="colega === colega" 
                        [value]="colega.chavePublica">{{colega.nome}}</option>   
                    </select>

                    <h5>PilaCoin</h5>
                    <select class="form-control form-control-sm" id="f_pilas" formControlName="nonce">
                        <option *ngFor='let pila of pilas' [selected]="pila === pila" 
                        [value]="pila.nonce">{{pila.nonce}}</option>   
                    </select>

                    <div style="margin-top: 2rem;">
                        <button class="button" type="submit">Transferir</button>
                    </div>

                </form> 
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>
    
</body>
</html>